<% title "Home" %>
<div class="flex">
  <div class="w-1/2 p-4">
    <h1 class="text-2xl font-bold mb-2">Vinícius Bispo</h1>
    <h2 class="text-xl mb-2">Renaissance Developer</h2>
    <p class="text-lg text-gray-800">With over three years of professional experience within the software engineering realm, I've actively honed my craft by working through a multitude of diverse projects. Each has equipped me with the tools and insights required to masterfully navigate this complex, ever-evolving field.</p>

    <p class="text-lg text-gray-800">When I'm not voraciously solving technological puzzles or writing clean, robust code, you can find me adopting the same dedication on the gym floor or martial arts dojo. My passion for discipline, meticulousness, and constant learning extends beyond my career into my personal life as a skilled practitioner of Jiu-Jitsu and Muay Thai.</p>

    <p class="text-lg text-gray-800">An ardent 'mat rat,' I find similarities between martial arts and software development in problem-solving, pattern recognition, and resilience. It's this unconventional blend that stands me apart from the crowd and ingrains a unique perspective that I bring to the coding table.</p>
  </div>
  <div class="w-1/2">
    <%= image_tag "profile.jpg", alt: "Vini's Profile", class: "object-cover w-full" %>
  </div>
</div>
