<% title project[:title] %>
<div class="flex flex-col items-center h-screen w-full -mt-2">
  <h1 class="text-4xl font-bold mb-8 text-gray-800">Project Detail Page</h1>
  <div class="flex items-start justify-center flex-wrap bg-white shadow-lg rounded-lg overflow-hidden w-3/4">
    <%= image_tag project[:image], alt: "project photo", class: "w-full object-cover h-64" %>
    <div class="w-full p-8">
      <h2 class="text-2xl font-bold mb-2 text-gray-700"><%= project[:title] %></h2>
      <div class="flex items-center">
        <%= split_description(description: project[:description], classes: "text-gray-600 text-base").join.html_safe %>
      </div>
    </div>
  </div>
</div>
