<div class="bg-black text-white">
  <div class="container mx-auto flex items-center justify-between p-5">
    <div>
      <h1 class="text-lg md:text-2xl font-bold">Vinícius Bispo</h1>
    </div>

    <nav>
      <ul class="flex space-x-2 md:space-x-5 text-sm md:text-base">
        <li><%= link_to "Projects", "#projects", class: "text-white hover:text-gray-300" %></li>
        <li><%= link_to "Skills", "#skills", class: "text-white hover:text-gray-300" %></li>
        <li><%= link_to "Resume", "#resume", class: "text-white hover:text-gray-300" %></li>
        <li><%= link_to "Contact", "#contact", class: "text-white hover:text-gray-300" %></li>
      </ul>
    </nav>
  </div>
</div>
